.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}
.App-intro {
  font-size: large;
  max-width: 50vw;
  margin: 0 auto;
}
section {
  display: block;
  padding: 1rem;
  width: 80%;
  margin: 0 auto;
  color: #666;
  border: 1px solid #333;
  background: #caff70;
}
.RussianDoll {
  border: 4px solid #666;
  padding: 2rem 0;
  margin: 2rem 0;
}
.B1 {
  /*background: #70caff;*/
  width: 300px;
  height: 300px;
}
.B2 {
  /*background: #caff70;*/
  width: 200px;
  height: 200px;
}
.bottom1 {
  /*background: #ff70ca;*/
  width: 100px;
  height: 50px;
}
.bottom2 {
  /*background: #ff70ca;*/
  width: 100px;
  height: 50px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
